.sliders {
  position: relative;
  overflow: hidden;
  margin-bottom: var(--size-24);
  @media screen and (min-width: $lap) {
    margin-bottom: var(--size-32);
  }
  .slider {
    position: relative;
    .slider-inner {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 20px;
      @media screen and (min-width: $lap) {
        max-width: $container;
        margin: 0 auto;
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 16px 0px;
        img {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          border-radius: 20px;
        }
      }
      @media screen and (min-width: $desk) {
        .slider-content {
          margin-left: -16px;
        }
        .slider-image {
          margin-right: -16px;
        }
      }
      .slider-content {
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 0 8px;
        @media screen and (min-width: $lap) {
          text-align: left;
          justify-content: flex-start;
          align-items: flex-start;
          order: 1;
          padding: 0;
          padding-right: 10%;
          padding-top: 10%;
        }
        @media screen and (min-width: $desk) {
          padding-top: 20%;
        }
        &-title {
          color: var(--col-three);
          font-size: var(--size-28);
          font-weight: 700;
          margin-bottom: var(--size-12);
          @media screen and (min-width: $lap) {
            color: var(--col-white);
            font-size: var(--size-32);
            margin-bottom: var(--size-24);
          }
          @media screen and (min-width: $desk) {
            font-size: var(--size-44);
          }
        }
        &-subtitle {
          line-height: 1.1;
          color: var(--col-four);
          font-size: var(--size-18);
          margin-bottom: var(--size-24);
          @media screen and (min-width: $lap) {
            line-height: 1.3;
            margin-bottom: var(--size-40);
            color: #f3f3f3;
            font-weight: 500;
          }
          @media screen and (min-width: $desk) {
            font-size: var(--size-20);
          }
        }
        &-button {
          height: 40px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--col-black);
          color: var(--col-white);
          border-radius: 6px;
          padding: 8px 12px;
          min-width: 120px;
          transition: all 0.5s linear;
        }
      }
      .slider-image {
        order: 1;
        @media screen and (min-width: $lap) {
          order: 2;
        }
      }
    }
    &.bg-1 {
      @media screen and (min-width: $lap) {
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 90%;
          background-color: #e6bb70;
        }
      }
      @media screen and (min-width: $desk) {
        height: 80%;
      }
    }
    &.bg-2 {
      @media screen and (min-width: $lap) {
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 90%;
          background-color: #0eafb5;
        }
      }
      @media screen and (min-width: $desk) {
        height: 80%;
      }
    }
    &.bg-3 {
      @media screen and (min-width: $lap) {
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 90%;
          background-color: #035078;
        }
      }
      @media screen and (min-width: $desk) {
        height: 80%;
      }
    }
    &.bg-4 {
      @media screen and (min-width: $lap) {
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 90%;
          background-color: #df531f;
        }
      }
      @media screen and (min-width: $desk) {
        height: 80%;
      }
    }
    &.bg-5 {
      @media screen and (min-width: $lap) {
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 90%;
          background-color: #57585a;
        }
      }
      @media screen and (min-width: $desk) {
        height: 80%;
      }
    }
    &.bg-6 {
      @media screen and (min-width: $lap) {
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 100%;
          height: 90%;
          background-color: #fcba13;
        }
      }
      @media screen and (min-width: $desk) {
        height: 80%;
      }
    }
  }
  .slick-dots {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    padding: 16px 0;
    background-color: transparent !important;
    li {
      width: 30px;
      height: 30px;
      margin: 0;
      button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--col-four);
        &::before {
          font-size: 12px;
        }
      }
    }
    li.slick-active {
      button {
        &::before {
          color: var(--col-three);
        }
      }
    }
    @media screen and (min-width: $lap) {
      padding: 30px 0 20px;
    }
  }
}
